@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FAFAFA;
  
}

img {
  max-width: -webkit-fill-available;
  margin: 10px;
  border-radius: .25rem;
}

.card {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #FAFAFA;
  border: 1px solid #ccc;
  box-shadow: 8px 8px 15px #3E2723;
}
 .page-header {
   padding: 80px;
 }

 .navbar {
  height: 80px;
 }
 
.card-text {
  margin-top: 15px;
  text-align: justify;
}

 .section-title {
   text-align: center;
   margin: 80px;
 }

 .btn {
   text-decoration: none;
   background-color: #006064;
   border: 1px solid #ccc;
 }

  .btn:hover {
    background-color: #00796B;
    text-decoration: none;
    border: 1px solid #ccc;
 }

 a,
 a:hover,
 a:focus {
  text-decoration: none;
  color: #fff;
}

.nav-link.active,
.nav-link.active:hover,
.nav-link.active:focus
 {
  background-color: transparent!important;
  text-decoration: none;
  color: #fff;
}

.nav-link,
.nav-link:hover,
.nav-link:focus
 {
  background-color: transparent!important;
  text-decoration: none;
  color: #fff;
}

.navbar {
  background-color: #006064;
}

@media all and (max-width: 992px) {
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
}